#
# Python Interpreter
#
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.hypothesis/
.pytest_cache/
*.mo
*.pot
.ipynb_checkpoints
.python-version

#
# Code Coverage Tools
#
*.cover
.tox/
htmlcov/
.cache
.coverage
.coverage.*
coverage.xml
nosetests.xml

#
# Virtual Environment
#
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#
# Visual Studio Code
#
.spyderproject
.spyproject
.vscode
.ropeproject

#
# IntelliJ IDEA
#
.idea_modules/
.idea/**/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dynamic.xml
.idea/**/tasks.xml
.idea/**/sqlDataSources.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml